<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title th:text="${titulo}"></title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/toastr.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" th:href="@{/index}">Todo1Heroes</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item "><a class="nav-link" th:href="@{/index}">Galeria
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Editar
						Productos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/form}">Crear
						Producto</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">

		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>
		<br>
		<div class="card-columns" >
			<div class="card animated fadeIn" th:each="producto : ${productos}">
				<img class="card-img-top img-fluid" width="50 px"
					th:src="@{${producto.imagen}}">
				<div class="card-body" th:id="'cardDiv' + ${producto.id}">
					<h4 class="card-title" th:text="${producto.nombre}"></h4>
					<p class="card-text" th:text="${producto.descripcion}"></p>
					<p class="card-text">
						<small class="text-muted" th:text="'Cantidad: ' + ${producto.cantidad}"></small>
					</p>

					<button
						th:onclick="'confirmarVenta(' + ${producto.id} + ',' + ${producto.cantidad} + ');'"
						class="btn btn-outline-primary btn-block">vender</button>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmarVentaModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmar venta</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<span>Cantidad:</span> <input type="number" value="1" th:min="1"
							id="cantidadModal"  step="1" />
						<input type="hidden" id="productoIdModal"></input>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" onclick="realizarVenta()">Confimar</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/js/toastr.min.js}"></script>
	<script th:src="@{/js/funciones.js}"></script>
	
</body>
</html>